@charset "utf-8";

ul {
    float:right;
}

li {
    float:left;
    border-right:solid 1px #3a3a3a;
    text-align:center;
    color:#e8e8e8;
    padding:30px 20px;
    font-size:12px;
    list-style:none;
}

.logo {
    position:absolute;
    left:250px;
    width:70px;
    height:100px;
    background-color:#549dc5;

}

header {
    background-color:#2e2e2e;
}